# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
.next
out
coverage
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.envrc

# Editors/OS
.idea/
.vscode/
*.swp
